<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClassMate.Properties.Settings.testConnectionString"
            connectionString="server=Thundercloud;User Id=storm;Persist Security Info=True;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="ClassMate.Properties.Settings.classmateConnectionString"
            connectionString="server=Thundercloud;User Id=storm;database=classmate"
            providerName="MySql.Data.MySqlClient" />
        <add name="ClassMate.Properties.Settings.classmateConnectionString1"
            connectionString="server=Thundercloud;User Id=storm;password=Me5tamerism;Persist Security Info=True;database=classmate"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <ClassMate.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
        </ClassMate.Properties.Settings>
    </userSettings>
</configuration>